.page{
    min-width: 320px;
    background-color: #000;
    min-height: 100vh;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media (max-width:340px) {
    .page{
        min-width: 300px;
    }
    
}