.profile{
    max-width: 880px;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: space-between;
}


@media (max-width:896px){
    .profile{
        max-width: 584px;
    }
}

@media (max-width:596px){
    .profile{
        flex-direction: column;
        max-width: 320px;
    }
}