.profile__main-info{
    display: flex;
    flex-direction: column;
    padding: 22px 0 25px 30px;
    margin: 0;
    gap: 7px;
}

@media (max-width:896px){
    .profile__main-info{
        gap: 8px;
    }
}