.profile__add-button{
    border: none;
    width: 150px;
    height: 50px;
    background-image: url(../../../images/Add\ Button\ \(1\).svg);
    background-size: cover;
    align-self: center;
    transition: 0.3s;
    background-color: #000;
    cursor: pointer;
}

.profile__add-button:hover{
    opacity: 0.6;
}

@media (max-width:596px){
    .profile__add-button{
        width: 284px;
        background-image: url(../../../images/Add\ Button.svg);
    }
}