.profile__add-button{
    display: flex;
    align-self: center;
    background-size: cover;
    padding: 12px 62px;
    border: 2px solid rgba(255, 255, 255, 1);
    transition: 0.3s;
    background-color: #000;
    cursor: pointer;
    margin-bottom: 8px;
}

.profile__add-button:hover{
    opacity: 0.6;
}


@media (max-width:596px){
    .profile__add-button{
        padding: 12px 129px;
        margin-top: 8px;
    }
}