.elements{
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    gap: 20px 17px;
    grid-template-columns: repeat(auto-fill, 282px);
    grid-template-rows: repeat(auto-fill, 361px);
}


@media (max-width:896px){
    .elements{
        max-width: 584px;
    }
}

@media (max-width:596px){
    .elements{
        max-width: 282px;
        gap: 20px;
    }
}