.popup__submit{
    width: 358px;
    min-height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    margin-top: 20px;
    padding: 0;
}

.popup__submit:hover{
    opacity: 0.8;
}

@media (max-width:550px) {
    .popup__submit{ 
        width: 238px;
        min-height: 46px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 17px;
    }
}