.popup__close-button{
    position: absolute;
    background-image: url(../../../images/Close-Icon.svg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    width: 32px;
    height: 32px;
    border: none;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: 0.3s;
}

.popup__close-button:hover{
    opacity: 0.6;
}


@media (max-width:550px) {
    .popup__close-button{
        top:-30px;
        right: 0;
        width: 20px;
        height: 20px;
    }
    
}