.popup__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 36px 37px 36px;
}


@media (max-width:550px) {
    .popup__form{
        padding: 25px 22px 25px 22px;
    }  
}