.footer{
    margin: 0 auto;
    max-width: 880px;
    padding-top: 67px;
    padding-bottom: 60px;
}

@media (max-width:896px) {
    .footer{ 
        max-width: 584px;
    }
}

@media (max-width:596px) {
    .footer{ 
        max-width: 282px;
        padding-top: 37px;
        padding-bottom: 36px;
    }
}